.text-center {
  text-align: center;
}

.error-form {
  color: red;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 20px;
}
.without-line-height {
  line-height: 1.1;
}


00|COR0075828|FAC|3.3|
01|COR0075828|COR|0075828|2018-11-07T13:32:18|1413.00|1639.08|226.08||||UN MIL SEISCIENTOS TREINTA Y NUEVE PESOS 08/100 M.N.|MXN|1|$ 0.00|. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .0. . .ARNES AUTOMOTRIZ. . . . . . . . . . . . . . . . . .4670.84. . . . . . . . . . . . . . . .2118.66|IMPORTACION. . . .  Factura No.: . . . . . . . . Control No.: M378005238/0|Base Grabable: $ 0.00 Gastos Comprobados: $ 0.00,  Diferencia de Impuestos: $ 0.00, 0.0000 S/Tarifa Oficial:  Servicios Complementarios y Demas, Cantidad Gravable para I.V.A.16.00%.|I|PPD|67110||99|||
03|5069|PED781129JT6|GRUPO YAZAKI SA DE CV|MEX|AVE ROMULO GARZA OTE 300|||TACUBA|||SAN NICOLAS DE LOS GARZA|NUEVO LEON|66470|||G03|
04|0|ARNECOM DEL SALVADOR SA DE VC|USA|KM 71 1/2 CARR QUE DE SANTA ANA CONDUCE A METAPAN||$ 1,639.08|||.|.|.|
05|80151605|OPECTE015|1.00|VALIDACION|110.00|110.00|SERVICIO|E48||OPECTE015|
05|80151605|OPECTE023|1.00|SELLOS FISCALES|75.00|75.00|SERVICIO|E48||OPECTE023|
05|80151605|OPECTE041|1.00|SERVICIOS COMPLEMENTARIOS|178.00|178.00|SERVICIO|E48||OPECTE041|
05|80151605|OPECTE042|1.00|HONORARIOS|750.00|750.00|SERVICIO|E48||OPECTE042|
05|80151605|OPECTE043|1.00|PREVIO|300.00|300.00|SERVICIO|E48||OPECTE043|
05C|OPECTE015|110.00|002|Tasa|0.160000|17.60|
05C|OPECTE023|75.00|002|Tasa|0.160000|12.00|
05C|OPECTE041|178.00|002|Tasa|0.160000|28.48|
05C|OPECTE042|750.00|002|Tasa|0.160000|120.00|
05C|OPECTE043|300.00|002|Tasa|0.160000|48.00|
06|002|0.160000|226.08|Tasa|
99|16|
